<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="base :: head('owner details')" />
<body>
    <th:block th:replace="base :: navbar('owners')" />
    <div class="container">
        <div class="d-flex mb-2">
            <h3 th:text="${owner.name}"></h3>
            <a th:href="${owner.id}+'/edit'" class="btn btn-dark ms-auto">Edit owner</a>
        </div>
        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${owner.name}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td th:text="${owner.address}"></td>
                </tr>
                <tr>
                    <td>Telephone</td>
                    <td th:text="${owner.phone}"></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex mb-2">
            <h4>Pets and Visits</h4>
            <a href="" class="btn btn-dark ms-auto">Add new pet</a>
        </div>
    </div>
    <th:block th:replace="base :: scripts" />
</body>
</html>