<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="base :: head('vets')" />
<body>
    <th:block th:replace="base :: navbar('veterinarians')" />
    <div class="container">
        <h3>Veterinarians</h3>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Specialties</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vet : ${vets}" th:with="specialties=${#strings.listJoin(vet.specialties, ', ')}">
                    <th th:text="${vet.id}" scope="row"></th>
                    <td th:text="${vet.name}"></td>
                    <td th:text="${#strings.isEmpty(specialties)} ? 'none' : ${specialties}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="base :: scripts" />
</body>
</html>